<div class="card">
  <div class="card-body">
    <h4 class="card-title">Chapters</h4>
    <div class="row">
      <div class="col-12" *ngIf="successMsg">
        <ngb-alert [dismissible]="true" type="success" (close)="closeSuccessMessage()">
          <strong>Success: </strong> {{successMsg}}
        </ngb-alert>
      </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="openChaptersCreateModal(chaptersModal)"><i class="fa fa-plus"></i>
          Create</button>
      </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <input type="text" class="form-control" placeholder="search" (keyup)="search($event.target.value)"/>
        </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped" [mfData]="chapterList" #mf="mfDataTable" [mfRowsOnPage]="5">
          <thead class="bg-primary text-white">
            <tr>
              <th>
                <mfDefaultSorter by="ChapterName">Chapter Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Subject">Subject</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="ChapterDetails">Chapter Details</mfDefaultSorter>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let chapter of mf.data;">
              <td>{{ chapter.ChapterName }}</td>
              <td>
                  {{ chapter.Subject.SubjectName }}
              </td>
              <td>
                <div [innerHTML]="chapter.ChapterDetails"></div>
              </td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editChapter(chapter,chaptersModal)"><i
                    class="fas fa-edit"></i></button>
                    <!-- <button type="button" class="btn btn-danger btn-sm" (click)="deleteChapter(chapter)"><i
                      class="fas fa-trash"></i></button> -->

                      <button type="button" class="btn btn-danger btn-sm" (click)="confirmDelete(confirmationModal, chapter)"><i
                        class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ng-template #chaptersModal let-modal>
      <form class="form-body" [formGroup]="createChapterForm" (ngSubmit)="createOrUpdateChapter()">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" *ngIf="errorMessage">
              <ngb-alert [dismissible]="true" type="danger" (close)="closeErrorMessage()">
                <strong>Error!</strong> {{errorMessage}}
              </ngb-alert>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Chapter Name</label>
                <input class="form-control" id="txtChapterName" formControlName="chapterName" />
                <div class="invalid-feedback">
                  Please enter Category Name
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Subjetcs</label>
                <ng-multiselect-dropdown [placeholder]="'Select Subject'" [data]="subjectList" [(ngModel)]="selectedItem"
                  [settings]="chapterDropdownSettings" formControlName="subjectName">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Chapter Details</label>
                <quill-editor [style]="{height: '200px'}" [required]="true" formControlName="chapterDetails"></quill-editor>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="submit">
            <i class="fa fa-check"></i> Save</button>
          <button class="btn btn-dark" type="button" (click)="onCloseModal()">Cancel</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>

<ng-template #confirmationModal>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-danger" (click)="deleteChapter()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>