<div class="card">
  <div class="card-body">
    <h4 class="card-title">User Join Requests</h4>
    <div class="row">
      <div class="col-12" *ngIf="successMsg">
        <ngb-alert [dismissible]="true" type="success" (close)="closeSuccessMessage()">
          <strong>Success: </strong> {{successMsg}}
        </ngb-alert>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped" [mfData]="userJoinRequests" #mf="mfDataTable" [mfRowsOnPage]="5">
          <thead class="bg-primary text-white">
            <tr>
              <th>
                <mfDefaultSorter by="joinRequest.StudentUser.Email">User Email</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="joinRequest.Institute.InstituteName">Institute</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter>Status</mfDefaultSorter>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let joinRequest of mf.data;">
              <td>{{joinRequest.StudentUser.Email}}</td>
              <td>{{joinRequest.Institute.InstituteName}}</td>
              <td>{{joinRequest.IsRequestApproved === false? 'No' : 'Yes'}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" title="Approve" (click)="approveRequest(joinRequest)"><i class="fas fa-check"></i></button>
              <button type="button" class="btn btn-danger btn-sm" title="Reject" (click)="rejectRequest(joinRequest)"><i class="fas fa-times"></i></button>
              </td>
            </tr>
            <tr *ngIf="!mf.data">
              <td colspan="4">No records found.</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>

  </div>
</div>