<div class="card">
  <div class="card-body">
    <h4 class="card-title">Institutes</h4>
    <div class="row">
      <div class="col-12" *ngIf="successMsg">
        <ngb-alert [dismissible]="true" type="success" (close)="closeSuccessMessage()">
          <strong>Success: </strong> {{successMsg}}
        </ngb-alert>
      </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="openInstituteCreateModal(instituiteModal)"><i class="fa fa-plus"></i>
          Create</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered table-striped" [mfData]="institutes" #mf="mfDataTable" [mfRowsOnPage]="5">
          <thead class="bg-primary text-white">
            <tr>
              <th>
                  <mfDefaultSorter by="InstituteName">Institute Name</mfDefaultSorter>
              </th>
              <th>
                  <mfDefaultSorter by="Description">Description</mfDefaultSorter>
              </th>
              <th>
                  <mfDefaultSorter by="Location">Location</mfDefaultSorter>
              </th>
              <th>
                Status
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ins of mf.data;">
              <td>{{ins.InstituteName}}</td>
              <td>{{ins.Description}}</td>
              <td>{{ins.Location}}</td>
              <td *ngIf="!ins.IsApproved && !ins.IsRejected">
                <b>Pending</b>
              </td>
              <td *ngIf="ins.IsApproved && !ins.IsRejected" style="color:green">
                  <b>Approved</b>
              </td>
              <td *ngIf="(!ins.IsApproved && ins.IsRejected) || (ins.IsApproved && ins.IsRejected)" style="color:red">
                  <b>Rejected</b>
              </td>
                <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editInstitute(ins,instituiteModal)"><i class="fas fa-edit"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="confirmDelete(confirmationModal, ins)"><i class="fas fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
              <tr>
                  <td colspan="5">
                      <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>
              </tr>
              </tfoot>
        </table>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ng-template #instituiteModal let-modal>
      <form class="form-body" [formGroup]="createInstituteForm" (ngSubmit)="createOrUpdateInstitute()">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12" *ngIf="errorMessage">
              <ngb-alert [dismissible]="true" type="danger" (close)="closeErrorMessage()">
                <strong>Error!</strong> {{errorMessage}}
              </ngb-alert>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Institute Name</label>
                <input class="form-control" type="text" id="txtInstituteName" formControlName="InstituteName" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Description</label>
                <input class="form-control" type="text" id="txtDescription" formControlName="Description" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Location</label>
                <input class="form-control" type="text" id="txtLocation" formControlName="Location" />
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="submit">
            <i class="fa fa-check"></i> Save</button>
          <button class="btn btn-dark" type="button" (click)="onCloseModal()">Cancel</button>
        </div>
      </form>
    </ng-template>
  </div>
</div>

<ng-template #confirmationModal>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-danger" (click)="deleteInstitute()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>